---
- name: Add Fleet Helm repository
  kubernetes.core.helm_repository:
    name: fleet
    repo_url: https://rancher.github.io/fleet-helm-charts/
    state: present

- name: Install Fleet CRD Helm chart
  kubernetes.core.helm:
    name: fleet-crd
    chart_ref: fleet/fleet-crd
    release_namespace: cattle-fleet-system
    create_namespace: true
    wait: true

- name: Install Fleet Helm chart
  kubernetes.core.helm:
    name: fleet
    chart_ref: fleet/fleet
    release_namespace: cattle-fleet-system
    create_namespace: true
    wait: true

- name: Wait for Fleet to be ready
  command: kubectl wait --for=condition=ready pod -l app=fleet-controller -n cattle-fleet-system --timeout=300s
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  retries: 3
  delay: 10

- name: Update Fleet cluster label to vaclab
  kubernetes.core.k8s:
    state: patched
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    api_version: fleet.cattle.io/v1alpha1
    kind: Cluster
    name: local
    namespace: fleet-local
    definition:
      metadata:
        labels:
          management.cattle.io/cluster-name: vaclab

- name: Create Fleet GitRepo manifest to watch vaclab-2 repo
  kubernetes.core.k8s:
    state: present
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    definition:
      apiVersion: fleet.cattle.io/v1alpha1
      kind: GitRepo
      metadata:
        name: vaclab-2
        namespace: fleet-local
      spec:
        targets:
          - clusterSelector:
              matchLabels:
                management.cattle.io/cluster-name: vaclab
        repo: "https://github.com/vacp2p/vaclab-2"
        branch: "feat/add_lab_components"
        #branch: main
        paths:
          - fleet

- name: Get cluster name from kubeconfig
  ansible.builtin.shell: kubectl config view --minify -o jsonpath='{.clusters[0].name}'
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: k8s_cluster_name
  changed_when: false

- name: Get Fleet status
  command: kubectl get gitrepo -n fleet-local
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: fleet_status
  changed_when: false

- name: Display Fleet status
  debug:
    var: fleet_status.stdout_lines